.header, .main__section__hero, .main__section__meetings, .main__section__meetings__content, .main__section__sessions__content__box {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 4rem;
}

@font-face {
  src: url(../fonts/RedHatDisplay-Black.ttf);
  font-family: RedHatDisplay-Black;
  font-weight: 900;
}
@font-face {
  src: url(../fonts/RedHatDisplay-Medium.ttf);
  font-family: RedHatDisplay-Medium;
  font-weight: 500;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

body {
  color: #87879d;
  font-family: "RedHatDisplay-Medium", sans-serif;
  line-height: 1.625rem;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
}

.header {
  min-height: 8.125rem;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  .header {
    min-height: 8.75rem;
  }
}
@media screen and (min-width: 80.0625rem) {
  .header__section {
    max-width: 69.375rem;
    margin-inline: auto;
  }
}

.main__section__hero {
  overflow: hidden;
  gap: 4.5rem;
}
@media screen and (min-width: 64.0625rem) {
  .main__section__hero {
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 80.0625rem) {
  .main__section__hero {
    gap: 5.5rem;
  }
}
.main__section__hero__image {
  transform: scale(1.1);
  padding: 2rem 0;
}
@media screen and (min-width: 64.0625rem) {
  .main__section__hero__image--left {
    transform: translateX(-1.5625rem);
  }
}
.main__section__hero__image--right {
  display: none;
}
@media screen and (min-width: 64.0625rem) {
  .main__section__hero__image--right {
    display: block;
    transform: translateX(1.5625rem);
  }
}
.main__section__hero__content {
  padding: 0 1.5rem;
  text-align: center;
}
@media screen and (min-width: 30.0625rem) {
  .main__section__hero__content {
    max-width: 28.5625rem;
    margin-inline: auto;
  }
}
.main__section__hero__content__title {
  color: #28283d;
  font-family: "RedHatDisplay-Black", sans-serif;
  font-size: 2.5rem;
  line-height: 2.75rem;
}
@media screen and (min-width: 80.0625rem) {
  .main__section__hero__content__title {
    font-size: 4rem;
    line-height: 1;
  }
}
.main__section__hero__content__description {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.main__section__hero__content__button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.main__section__hero__content__button__first, .main__section__hero__content__button__second {
  font-family: "RedHatDisplay-Black", sans-serif;
  color: #ffffff;
  background-color: #28283d;
  display: inline-block;
  border-radius: 1.875rem;
  padding: 1rem 2.5rem;
}
.main__section__hero__content__button__first--acapulco-cliffs {
  background-color: #4d96a9;
}
.main__section__hero__content__button__first--acapulco-cliffs:is(:hover, :active) {
  background-color: #6dacbc;
}
.main__section__hero__content__button__first__version {
  color: #8fe3f9;
}
.main__section__hero__content__button__second--lusty-lavender {
  background-color: #855fb1;
}
.main__section__hero__content__button__second--lusty-lavender:is(:hover, :active) {
  background-color: #be85ff;
}
.main__section__meetings {
  text-align: center;
  padding: 0 1.5rem;
}
@media screen and (min-width: 80.0625rem) {
  .main__section__meetings {
    max-width: 69.375rem;
    margin-inline: auto;
    padding: 0;
  }
}
.main__section__meetings__circle-with-text {
  font-family: "RedHatDisplay-Black", sans-serif;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.0625rem solid #dfdfdf;
  border-radius: 1.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 9.4375rem;
  margin-inline: auto;
}
.main__section__meetings__circle-with-text::before {
  content: "";
  display: block;
  height: 5.4375rem;
  width: 0.0625rem;
  background: #dfdfdf;
  position: absolute;
  bottom: 100%;
}
.main__section__meetings__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5625rem;
}
@media screen and (min-width: 48rem) {
  .main__section__meetings__gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main__section__meetings__gallery__figure__image {
  border-radius: 0.5rem;
}
.main__section__meetings__content {
  gap: 1.5rem;
}
@media screen and (min-width: 30.0625rem) {
  .main__section__meetings__content {
    max-width: 33.75rem;
    margin-inline: auto;
  }
}
.main__section__meetings__content__subtitle {
  letter-spacing: 0.25rem;
  color: #4d96a9;
  text-transform: uppercase;
  font-family: "RedHatDisplay-Black", sans-serif;
}
.main__section__meetings__content__title {
  font-size: 2rem;
  line-height: 2.25rem;
  font-family: "RedHatDisplay-Black", sans-serif;
  color: #28283d;
}
.main__section__sessions__circle-with-text {
  margin-bottom: -1.75rem;
  font-family: "RedHatDisplay-Black", sans-serif;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.0625rem solid #dfdfdf;
  border-radius: 1.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 9.4375rem;
  margin-inline: auto;
}
.main__section__sessions__circle-with-text::before {
  content: "";
  display: block;
  height: 5.4375rem;
  width: 0.0625rem;
  background: #dfdfdf;
  position: absolute;
  bottom: 100%;
}
.main__section__sessions__circle-with-text--bg-white {
  background-color: #ffffff;
}
.main__section__sessions__content {
  background: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(../images/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.75rem 1.5rem 4.5rem;
}
@media screen and (min-width: 48rem) {
  .main__section__sessions__content {
    background: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(../images/tablet/image-footer.jpg);
  }
}
@media screen and (min-width: 64.0625rem) {
  .main__section__sessions__content {
    background: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(../images/desktop/image-footer.jpg);
    text-align: left;
  }
}
.main__section__sessions__content__box {
  text-align: center;
  gap: 2rem;
}
@media screen and (min-width: 64.0625rem) {
  .main__section__sessions__content__box {
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    gap: 5.75rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .main__section__sessions__content__box {
    max-width: 69.375rem;
    margin-inline: auto;
    text-align: left;
  }
}
.main__section__sessions__content__box__title {
  font-size: 2rem;
  line-height: 2.25rem;
  font-family: "RedHatDisplay-Black", sans-serif;
  color: #28283d;
}
.main__section__sessions__content__box__title--clr-dr-white {
  color: #fafafa;
}
@media screen and (min-width: 30.0625rem) {
  .main__section__sessions__content__box__description {
    max-width: 33.75rem;
  }
}
.main__section__sessions__content__box__description--font-size {
  font-size: 1.125rem;
}
.main__section__sessions__content__box__description--clr-dr-white {
  color: #fafafa;
}
.main__section__sessions__content__box__button__link {
  font-family: "RedHatDisplay-Black", sans-serif;
  color: #ffffff;
  background-color: #28283d;
  display: inline-block;
  border-radius: 1.875rem;
  padding: 1rem 2.5rem;
  background-color: #855fb1;
}
.main__section__sessions__content__box__button__link__version {
  color: #cccccc;
}
.main__section__sessions__content__box__button__link:is(:hover, :active) {
  background-color: #be85ff;
}

.footer {
  text-align: center;
  padding: 4.8rem 1.5rem;
}
.footer__section {
  max-width: 69.375rem;
  margin-inline: auto;
}
.footer__section__attribution__link:is(:link, :visited) {
  color: #28283d;
}
.footer__section__attribution__link:is(:hover, :active) {
  color: #4d96a9;
}

/*# sourceMappingURL=style.css.map */
