$clr-spinel-stone-black: #28283d;
$clr-mandrake: #87879d;
$clr-white: #ffffff;
$clr-acapulco-cliffs: #4d96a9;
$clr-acapulco-cliffs-with-alpha: rgba(77, 150, 169, 0.85);
$clr-lusty-lavender: #855fb1;
$clr-silverpine-cyan: #8fe3f9;
$clr-lavender-fragrance: #d9b8ff;
$clr-kingly-cloud: #dfdfdf;
$clr-dr-white: #fafafa;
